:root {
    /* colors */
    --primary-green: #209168;
    --dark-green-1: #19805c;
    --darkgreen-2: #225938;

    --primary-dark: #000;
    --faded-dark: 0 0% 0%;
    --primary-white: #fff;
    --grey-1: #777777;
    --grey-2:#979797;

    --primary-gold: #ffad0f;
    --dark-gold: #f4b647;

    -bg-light: #fef9f3;
 
    
    /* spaces */
    --mr-1: .75rem;
    --mr-2: .1rem;
    --mr-3: 2rem;
    --mr-4: 3.5rem;
    --mr-5: 5rem;
    
    
    --p-1: .75rem;
    --p-2: 1rem;
    --p-3: 2rem;
    --p-4: 3.5rem;
    --p-5: 5rem;

    --box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
