.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.dblock {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.sr-only { 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.page {
    height: calc(100vh - 5rem);
}

.letter-spacing-1 {letter-spacing: 4.75px; }
.letter-spacing-2 {letter-spacing: 2.7px; }
.letter-spacing-3 {letter-spacing: 2.35px; }
